.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 20px;
}

.api_info {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 40px;
}

.api_info__link:hover {
  text-decoration: none;
  outline: none;
  color: #0073aa;
}

.api_info__key {
  color: #6455fe;
}

.app_title {
  color: #333;
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 20px;
}
